
doctype 5
html
  head
    title @Editor
    meta(charset="utf-8")
    link(rel="stylesheet", href="editor.css")
    link(rel="stylesheet", href="page.css")
    script(src="../components/jquery/jquery.js")
    script(src="../components/eventEmitter/EventEmitter.js")
    script(src="../lib/main.js")
    script(src="../lib/editor.js")
    script(src="http://localhost:7777/doodle.js")
  body
    #box
      #target
        p ok, something here